@model WebMdApp_02.Models.Advertise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advertise</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdvertiseTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertiseTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvertiseContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertiseContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvertiseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
